@tailwind base;
@tailwind components;
@tailwind utilities;

/*Variables de Diseño*/

:root {
  --main-font-color: #000000;
  --font-color-title: #FF393A;
  --background-color: #DBDBDB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: var(--background-color)
}